<div >
  <div id="profile-avatar" class="clearfix">
    <%= image_tag(@user.avatar_url(:profile)) %> 
  </div>
  <div id="profile-info">
    <h2><%= @user.username %>
  </div>
</div>
<br/>
<div id="profile-agendas">
  <h3>Agendas</h3>
  <table id="user_agendas_table">
    <% @agendas.each_slice(4) do |slice| %>
    <tr class="agendas_table_row">
      <% slice.each do |agenda| %>
      <td id="<%= @user.username %>-agenda-<%= agenda.id %>" class="agendas_table_data">
         <%= link_to(agenda.name, user_agenda_path(@user, agenda)) %><br/>
        <%= agenda.description %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
