<%= image_tag(@user.avatar_url(:profile)) %> 
<div id="profile-agendas-main">
  <h3>Agendas</h3>
  <dl>
    <% @user.agendas.each do |agenda| %>
      <dt id="<%= @user.username %>-agenda-<%= agenda.id %>">
        <%= link_to(agenda.name, user_agenda_path(@user, agenda)) %>
      </dt>
        <dd>
          <%= agenda.description %>
        </dd>
    <% end %>
  </dl>
</div>
