<div id="profile-top">
  <div id="profile-avatar" class="clearfix">
    <%= image_tag(@user.avatar_url(:profile)) %> 
  </div>
  <div id="profile-info">
    <span id="profile-statement"></span>
  </div>
</div>
<div id="profile-agendas">
  <h3>Agendas</h3>
  <ul>
    <% @user.agendas.each do |agenda| %>
      <li id="<%= @user.username %>-agenda-<%= agenda.id %>" class="profile-agenda">
        <%= link_to(agenda.name, user_agenda_path(@user, agenda)) %>
        <%= agenda.description %>
      </li>
    <% end %>
  </ul>
</div>
