<%= render :partial => "layouts/left_side/background_prep" %>
<div id="left-side">
  <div id="ls-profile-cap"></div>

    <%= render :partial => 'layouts/left_side/profile', :object => @me, :as => 'user' %>
    <div id="ls-action-button" class="well">
    <% if logged_in? %>
      <%= link_to "New Agenda", new_user_agenda_path(@me),:class => "btn btn-primary profile-action" %>
    <% else %>
      <%= link_to "Sign up!", signup_path, :class => "btn btn-primary profile-action" %>
    <% end %>
    </div>
    <%= render :partial => 'layouts/left_side/agendas', :object => @me, :as => 'user' %>

  </div>
</div>
