<%= render :partial => "description" %>
<br/>
<div id="agenda-statistics">
  Supporters: 7,000,000,000<br/>
  Detractors: 3<br/>
  Activity Rating: 90/100 <br/>
  Created: <%= @agenda.created_at %>
</div>
<br/>
<%= render :partial => "buttons" %>
<br/>
<br/>
<div id="agenda-goals">
  <h3>Goals</h3>
  <b>Active</b> | Alternatives (20) | Historic
  <ol>
    <li>Build a tool that helps people help other people.</li>
    <li>Build a tool that helps people get help on whatever they may be doing or contemplating doing.</li>
    <li>Build a tool that learns how to help people do anything they may be doing, contemplating doing, or are likely to contemplate doing.</li>
  </ol>
  // Suggest a goal.
</div>
<br/>
<div id="agenda-plan">
  <h3>Plan</h3>
  <b>Active</b> | Alternatives (20) | Historic
  <div id="agenda-plan-items">
    <% if @item == nil %>
      No Items
    <% else %>
      <ol>
      <% @item.each do |item| %>
        <li><%= link_to(item.topic.capitalize, user_agenda_item_path(@user, @agenda, item))%></li>
      <% end %>
      </ol>
      // Suggest a plan
    <% end %>
    <% if current_user && current_user.id == @user.id %>
      <%= link_to "Add Item", new_user_agenda_item_path(@user, @agenda), :class => "btn" %>
    <% end %>
  </div>
</div>
<br/>

<div id="agenda-map">
  <h3>Map</h3>
  <b>Active</b> | Alternatives (20) | Historic<br/>
    # Interface to model of perception of context relevant to Agenda
</div>
<br/>
<div id="agenda-comments">
  <h3>Comments</h3>
  <% if logged_in? %>
  <%= render :partial => "shared/agenda_comments", :object => @agenda, :as => :commentable %>
  <% end %>
</div>
<br/>
