<!DOCTYPE html>
<html>
<head>
  <%= render :partial => "layouts/uncore/meta" %>
  <%= render :partial => "layouts/uncore/analytics" %>
</head>
<body>
  <%= render :partial => 'layouts/navbar/navbar' %>
  <%= render :partial => 'layouts/uncore/flash', :object => flash %>

  <% if logged_in? %>
  <%= render :partial => 'layouts/left_side/left_side', :object => @me %>
  <div id="right-side">
    <div id="main-content-container">
      <%= yield %>
    </div>
  </div>
  <% else %>
  <%= yield %>
  <% end %>
</body>
</html>
